.quote-estimate-container {
  margin-left: 7.5rem;
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  color: rgb(71, 119, 166);
  background-color: rgb(187, 206, 227);
  border-color: white;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 0.5rem;
}
.quote-estimate-header {
  color: rgb(71, 119, 166);
  font-size: 42px;
  font-weight: 500;
}
.quote-estimate-subheader {
  color: rgb(71, 119, 166);
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 0;
}
.input-field {
  background-color: white;
  width: 12.75rem;
}

.spacing {
  gap: 0.25rem;
  margin-top: 0.5rem;
}
.question-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 90%;
  padding: 0.5rem 0.2rem;
  margin-top: 0.25rem;
}
.question-text-container {
  padding: 0 0.25rem;
}
.question-text {
  font-size: 12px;
  font-weight: 600;
  color: rgb(71, 119, 166);
}
.question-text-description {
  color: rgb(71, 119, 166);
  font-weight: 500;
  font-size: 10px;
}
.section-break {
  margin-top: 0.5rem;
}
.btn {
  float: right;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  height: 15px;
  padding: 0 0.5rem;
  margin-left: 1rem;
  border-color: rgb(187, 206, 227);
  border-width: 0.1rem;
  border-style: solid;
  cursor: pointer;
}
.no-button {
  color: red;
}
.btn-group2 {
  margin-left: 6.5rem;
}
