.insurance-options-header {
  color: rgb(71, 119, 166);
  font-size: 42px;
  font-weight: 500;
  padding-bottom: 30px;
}

.insurance-options-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.insurance-option {
  background-color: white;
  text-align: center;
  width: 50%;
  padding: 0 1.5rem;
  margin-bottom: 2.9rem;
  border-color: rgb(56, 108, 159);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.2rem;
}
.insurance-option:hover {
  margin-bottom: 0.5rem;
}
.line1 {
  font-size: 20px;
  font-weight: 500;
}
.line2 {
  font-size: 12px;
  font-weight: 500;
}
.insurance-option-content {
  font-size: 10px;
  transition: all 5s ease;
}
.expand-icon {
  height: 15px;
  width: 15px;
  float: right;
  margin-right: -1rem;
  margin-top: -1.75rem;
}
.compare-btn {
  font-size: 28px;
  font-weight: 600;
  color: rgb(56, 108, 159);
  background-color: white;
  margin-top: 20px;
  padding: 0.1rem 3.25rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
